[package]
name = "near-cli"
version = "0.1.14"
authors = ["FroVolod <frol_off@meta.ua>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "=3.0.0-beta.2"
clap_derive = "=3.0.0-beta.2"
clap_generate = "=3.0.0-beta.2"
dialoguer = "0.9"
# strum = "0.20"
strum = { git = "https://github.com/frol/strum", branch = "feat/discriminants-pass-through-attributes", features = ["derive"] }
strum_macros = "0.20"
smart-default = "0.6.0"
derive_more = "0.99.9"

async-recursion = "0.3.2"

tokio = { version = "1.0", features = [ "rt", "time" ] }
# Ad-hoc fix for compilation errors (rustls is used instead of openssl to ease the deployment avoiding the system dependency on openssl)
openssl = { version = "0.10", features = [ "vendored" ] }

base64 = "0.12.3"
bip39 = { version = "1.0.0", features = [ "rand" ] }
bs58 = "0.3"
ed25519-dalek = { version = "1" }
hex = "0.4.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.57"
dirs = "3.0"
shellexpand = "2.1.0"
slip10 = "0.4.3"
url = { version = "2", features = ["serde"] }
open = "2"
shell-words = "1.0.0"
cargo-util = "0.1.1"

color-eyre = "0.5"

near-ledger = { version = "0.1.1", optional = true }

near-crypto = "0.11"
near-primitives = "0.11"
near-jsonrpc-client = "0.2"
near-jsonrpc-primitives = "0.11"

interactive_clap = { git = "https://github.com/FroVolod/interactive-clap", rev="23481402d7f36d9e7b0f5460f6d249bcf4c31ec5" }
interactive_clap_derive = { git = "https://github.com/FroVolod/interactive-clap", rev="23481402d7f36d9e7b0f5460f6d249bcf4c31ec5" }

[features]
default = ["ledger"]
ledger = ["near-ledger"]
