[package]
name = "near-cli"
version = "0.1.0"
authors = ["FroVolod <frol_off@meta.ua>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "3.0.0-beta.2"
dialoguer = "0.7"
# strum = "0.20"
strum = { git = "https://github.com/frol/strum", branch = "feat/discriminants-pass-through-attributes", features = ["derive"] }
strum_macros = "0.20"
smart-default = "0.6.0"
derive_more = "0.99.9"

async-recursion = "0.3.2"

actix = "0.11.0-beta.2"
actix-web = { version = "4.0.0-beta.3", features = [ "openssl" ] }
openssl-probe = { version = "0.1.2" }

base64 = "0.12.3"
bip39 = { version = "1.0.0", features = [ "rand" ] }
bs58 = "0.3"
ed25519-dalek = { version = "1" }
hex = "0.4.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.57"
dirs = "3.0"
# The fix is needed for seemless clap integration: https://github.com/wusyong/slip10/pull/3
slip10 = { git = "https://github.com/frol/slip10", rev = "a3235dd0acf3a485f547cf23e2dd56838adb45f8" }
url = { version = "2", features = ["serde"] }

color-eyre = "0.5"

near-crypto = { git = "https://github.com/near/nearcore", rev="1e7e99fd8b24a2b417e4cff37ad93a2d7564eb31" }
near-primitives = { git = "https://github.com/near/nearcore", rev="1e7e99fd8b24a2b417e4cff37ad93a2d7564eb31" }
near-jsonrpc-client = { git = "https://github.com/near/nearcore", rev="1e7e99fd8b24a2b417e4cff37ad93a2d7564eb31" }
near-jsonrpc-primitives = { git = "https://github.com/near/nearcore", rev="1e7e99fd8b24a2b417e4cff37ad93a2d7564eb31" }
